html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* For Scroll top */
#sttop {
    position:relative;
   }
   #sttop #scrtop {
    position:fixed;
    top:80%;
    right:1.1%;
    width:1.8em;
    cursor:pointer;
    text-align:center;
    font-family:Calibri, Arial, sans-serif;
    line-height:1.4em;
    font-size:.75em;
    padding:0;
    font-weight:800;
    color:#042940;
    border-bottom: 1.85em solid #a6bddb;
    border-top: .78em solid #a6bddb;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    height: 0;
   }
   #sttop #scrtop:hover {
    border-color: #005C53;
    color:#000100;
   border-radius:1.1em;
   }
   #sttop #scrtop span {
    display:block;
    margin:-8px auto -1px auto;
    font-size:1.9em;
    color:#A62B1F;
   }