@import url("../lib/leaflet/leaflet.css");


* {
    margin:0;
    padding:0;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
   /* background-color: #FFCC00; */
}

#loading{
    position:absolute;
    width:660px;
    z-index:3101;
    left:-340px;
    margin-left:50%;
    margin-top:-260px;
    top:50%;
    background-color:#ffffff;
    padding:20px;
    font-family: 'Rambla', sans-serif;
    height:500px;
    border-radius:10px;
    border:solid 2px #333333;
    box-shadow: 0px 0px 5px 5px #999999;
    text-align:justify;
    font-size: 14px;
    line-height:20px;
  }
  
  #close {
    width:16px;
    height:16px;
    position:absolute;
    right:10px;
    top:10px;
    background-image: url('../img/close.png');
    cursor: pointer;
  }

#container1 {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    position: relative;
    /* left: 2%;
    right: 2%; */
    /* overflow: hidden; */
    overflow-x: hidden;
    overflow-y: hidden;
}

#container2{

    display:flex;
    /* flex-wrap:wrap; */
    flex-direction: row;
    text-align:center;
    justify-content: center;
    /* width: 100%;
    height:100%; */
    }


.leaflet-container {
  width: 100%;
  height: 100vh;
}

#brand img {
    float: left;
    width: 60px;
    height: 50px;
    position: relative;
    left: 20px; 
    top: -5px;
  }
  
 #brand h1 {
    font-size: 28px;
    position: relative;
    top: 5px;
    left: 30px; 
    align-items: center;
    font-family: Verdana, sans-serif;
    font-weight: 700;
    color: #023858;
    /* width: 50%; */
  }

  #tutorial img {
    float: left;
    width: 40px;
    height: 40px;
    padding: 0;
  }
  


/* #space {
    width: 20px;
} */
#proposalPanel {
    /* border: gray solid; */
    border: white;
}

#mapCheck {
    font-family: Verdana, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #045a8d;
    position: relative;
    top: 10px;
    left: 20px;
    line-height: normal;
    /* border: gray solid; */
    border: white;
    /* align-items: center; */
}

#checkboxGroup{
    border: #74a9cf dotted;
    border-radius: 15px;
    position: relative;
    /* top: 5px; */
    left: 5%;
    /* height: 80%; */
    width: 95%;
}

.checkLabel {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    position: relative;
    top: 10px;
    left: 20px;
    line-height: normal;    
}

.qMap {
    width: 15px;
    height: 15px;
    position: relative;
    left: 25px;
    top: 10px;
}
.qMap2 {
    width: 15px;
    height: 15px;
    position: relative;
    left: 15px;
    top: 10px;
}
/* #metric {
    float: left;
    position: relative;
    top: 10px;
    padding: 0;
  } */

#metric2 img {
    float: left;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    left: 2px;
    padding: 0;
  }


#metric img {
    float: left;
    width: 15px;
    height: 15px;
    position: relative;
    top: 12px;
    left: 20px;
    padding: 0;
  }

#mapUncheck {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-size: .8em;
    color: #bdbdbd;
    position: relative;
    bottom: -20px;
    left: 10px;
    line-height: normal; 
}

#pcpPanel{
    /* border: gray solid; */
    border: white;
}

#attrSelection {
    font-family: Verdana, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #045a8d;
    position: relative;
    top: 10px;
    line-height: normal;
    margin-right: 0;
    /* /* border: gray solid; */
    /* border: gray solid; */
    /* width: 100%; */
}

#pcpLegend{
    /* border: gray solid; */
    border: white;
    position: relative; 
    /* top: 10px;  */
    /* height: 100% */
    /* width: 100%; */

}

#pcpPlot{
    border: gray solid;
    border: white;
    /* height: 170px;  */
    position: relative; 
    /* top: -5px;  */
    width: 100%;
}

.attr {
    font-family: Helvetica, sans-serif;
}

#mapLegend{
    /* border: gray solid;
     */
     border: white;
}


/* #mapPanel1{
    border: gray solid;
}

#mapPanel2{
    border: gray solid;
} */

#map1{
    background-color: #fff;
    /* border: gray solid; */
    border: orange;
}

#map2{
    background-color: #fff;
    /* border: gray solid; */
}


.mono {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}


.reexpress {
    background-color: #fff;
    border-color: lightgray;
    border: white;
    border-width: .2em;
    opacity: .8;
    width: 32px;
    height: 32px;
    
}

button:disabled {
    background: #C3C3C3;
}

button:enabled {
    background: #fff;
}
.reexpress img {  
    
    align-items: left;
    width: 22px;  
    height: 22px;  
    margin: 0 0 0 -2px;
} 

/* .leaflet-control-layers {
    width: 30px;
    height: 30px;
}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 30px;
    height: 30px;
} */

.chart {
    background-color: none;
    border: none;
    float: right;
    margin: 100px 50px 0 0;
    z-index: 500;
}

.chartBackground {
    fill: none;
}

.chartFrame {
    background-color: none;
    fill: none;
    stroke: lightgray;
    stroke-width: 1.5px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    fill: gray;
}

.paragaphText {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    fill: black;   
    position: relative;
    left: 2%;
    right: 2%;
    width: 95%;
    text-align: justify;
}

.aligncenter {
    text-align: center;
}

.marginauto {
    margin: 10px auto 20px;
    display: block;
} 

.title_class {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    fill: #023858;
    font-weight: 600;
}

h1, h2, h3, h4 {
    font-family: Verdana, sans-serif;
    font-weight: 600;
    position: relative;
    left: 20px;
}

